/*
Palette:  https://coolors.co/040f0f-248232-2ba84a-2d3a3a-fcfffc
#040F0F RICH BLACK (FOGRA29)
#248232 FOREST GREEN (WEB)
#2BA84A WAGENINGEN GREEN
#2D3A3A GUNMETAL
#FCFFFC BABY POWDER

*/


body {
    margin: 2%;
    font-family: 'Merriweather', serif;
    background-color: #FCFFFC;
    color: #040F0F;
    line-height: 1.6;
    max-width: 40em;
}

h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #2D3A3A;
}

header, nav, article, footer {
    margin: 1%;
}

nav {
    text-align: center;
}

a {
    color: #248232;
}

a:visited {
    color: #2BA84A;
}

code, pre {
    font-family: 'Source Code Pro', monospace;
}


/*
 * Layout
 */

nav li, li.left, li.right, li.article {
    float: left;
    margin: 1em;
}
nav li, li.left, li.right {
    max-width: 10em;
    list-style-type:none;
}
ul li.article {
    list-style-type:none;
}

body ul li article nav {
    overflow-x: scroll;
}


@media (max-width: 2000px) {  body ul li article nav { width: 1500px; } }
@media (max-width: 1500px) {  body ul li article nav { width: 1000px; } }
@media (max-width: 1000px) {  body ul li article nav { width: 800px; } }
@media (max-width: 800px) {  body ul li article nav { width: 700px; } }
@media (max-width: 700px) {  body ul li article nav { width: 600px; } }
@media (max-width: 600px) {  body ul li article nav { width: 500px; } }
@media (max-width: 500px) {  body ul li article nav { width: 400px; } }
@media (max-width: 300px) {  body ul li article nav { width: 300px; } }
@media (max-width: 200px) {  body ul li article nav { width: 150px; } }

body ul li article nav ul {
    width: 1000000px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

time {
    display: block;
}


/*
 * Animation
 */

@keyframes slideLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(150%); }
}
@keyframes slideRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-150%); }
}

.move-left {
  animation: 0.3s ease-out 0s 1 slideLeft;
}

.move-right {
  animation: 0.3s ease-out 0s 1 slideRight;
}

