---
---

#bars {
    position: relative;
    margin: 10vmin 0;
}

#dates {
    position: relative;
}

#bars > div {
    height: 5vmin;
    font-size: 4vmin;
    width: 50%;
    white-space: nowrap;
    line-height: 14vmin;
    text-align: right;
}

#bars > div {
    animation-timing-function: linear;
}

#dates > time {
    animation-timing-function: cubic-bezier(1, -0.01, 0.01, 1); // quick change
    font-size: 6vmin;
}

#bars > div,
#dates > time {
    position: absolute;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
