.firebaserc
/.firebase
*~
_site
_secret.yml
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/_includes/*.js
/sw.js
node_modules

/covidgrowth/*.min.js
/covidgrowth/state.js
/covidgrowth/usa.js
/covidgrowth/world.js
/covidgrowth/ca.js
*.js.map
