.firebaserc
/.firebase
*~
_site
_secret.yml
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/_includes/*.js
/sw.js
node_modules

/covidgrowth/*-graph.min.js
/covidgrowth/*-graph.js
/covidgrowth/*-cartogram.js
*.js.map
/covidgrowth/rank*.md
/css/rank*.scss
