.twitter-tweet, img[alt="Twitter screenshot"] {
    border: solid black 1px;
    border-bottom: solid transparent 1px;
    max-height: 7em;
    overflow: hidden;
}

a.tweet {
    float: right;
    margin-top: -7vmin;
    margin-right: 3vmin;}

li img {
    max-width: 50%;
    /* float: right; */
    padding: 0.5em;
}

li>p {
    max-height: 7em;
    /* clear: right; */
    overflow: hidden;
    text-overflow: ellipsis;
}
