dnl Defines M4 macros for generating an HTML page

changequote({,})
define({PAGE},

{<html>
  <head>
    <title>$1</title>
    <link rel="stylesheet" href="css/tufte.css"/>
    <meta charset="UTF-8">
  </head>
  <body>
    <nav>
      <a href="index.html">Home</a> |
      <a href="https://twitter.com/eob">Twitter</a> |
      <a href="https://www.linkedin.com/in/eobrain/">LinkedIn</a>
    </nav>

    <h1>$1</h1>

    $2

  </body>
</html>})


define({ARTICLE}, {PAGE({DATE_$1 TITLE_$1}, {$2
    <nav>
      <a href="indir(DATE_{}eval($1-1)).html"><< indir(TITLE_{}eval($1-1))</a> |
      <a href="indir(DATE_{}eval($1+1)).html">indir(TITLE_{}eval($1+1)) >></a>
    </nav>
})})
define({PAGEREF}, {define(DATE_$1,$2)define(TITLE_$1,$3)})
