.sparkline {
    position: relative;
    width: 10vmin;
    height: 10vmin;
    margin: 1vmin 2vmin;
    display: inline-block;
    font-size: 2.5vmin;
    white-space: nowrap;
    overflow: hidden;
}

.sparkline canvas {
    height: 10vmin;
    margin-top: -2em;
}

section>canvas {
    margin: 5vmin 0;
}

ul {
    list-style-type: none;
    margin-left: 0;
  }

ul li {
    margin: 2vmin 0;
}

h4 {
    margin-top: 1em;
}