.sparkline {
    position: relative;
    width: 10vmin;
    height: 10vmin;
    margin: 1vmin 2vmin;
    display: inline-block;
    font-size: 2.5vmin;
}

.sparkline canvas {
    height: 10vmin;
    margin-top: -2em;
}

section>canvas {
    margin: 5vmin 0;
}

li {
    float: right;
}

#barChartsElement table {
    border-spacing: 0;
}

#barChartsElement th, #barChartsElement td {
    margin: 0;
    padding: 0;
    border: none;
}

#barChartsElement th {
    font-size: 2vmin;
}

#barChartsElement td {
    line-height: 0;
}


#barChartsElement td div {
    display: inline-block;
    height: 3vmin;
    vertical-align: middle;

}