---
layout: default
---

<link rel="preload" href="js/cache-polyfill.js" as="script">
<link rel="preconnect" href="https://syndication.twitter.com" crossorigin>
<link rel="preconnect" href="https://cdn.syndication.twimg.com" crossorigin>
<link rel="preconnect" href="https://pbs.twimg.com">
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Blog Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.image -%}
          <a href="{{ post.url | relative_url }}"
             title="{{post.image-text | xml_escape }}"">
          {%- if forloop.index0 < 2 -%}
             <img class="hero" alt="{{post.image-text | xml_escape }}" src="{{post.image}}" >
          {%- else -%}
              <img class="hero" alt="{{post.image-text | xml_escape }}"
                   data-controller="image"
                   data-action="load@document->image#defer scroll@document->image#defer resize@document->image#defer"
                   data-image-src="{{post.image}}"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mM88x8AAp0BzdNtlUkAAAAASUVORK5CYII=">
            {%- endif -%}
          </a>
        {%- elsif site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>

<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script>
  {% include home.js %}
</script>